
<div class="modal-content">
    <h1 class="modalTitle">INITIAL DISTRIBUTION</h1>
    <div style="display: flex;">
        <!-- <div class="myLegend">
            <div *ngFor="let item of legendArr">
                <div style="display: flex;">
                    <div class="square" [ngStyle]="{'background-color': item.color}"></div>
                    <p>{{item.legendName}} - {{item.legendValue}}%</p>
                </div>
            </div>
        </div> -->
        <div class="modalCanvas">
            <canvas width="500px" height="500px" id="lineChart"></canvas>
        </div>
    </div>
</div>
